<section class="section">
    <div class="container">
        <div fxFlex.gt-xs="30%">
            <h1 class="title is-3">Commande</h1>
            <table class="table is-striped center">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Plateau</th>
                        <th>Quantite</th>
                        <th>Prix</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let elem of commandes; let index = index">
                        <td><img [src]="'assets/'+elem.image+'.webp'"></td>
                        <td>{{elem.nomPlateau}}</td>
                        <td>{{elem.quantite}}</td>
                        <td>{{elem.prix}}€</td>
                    </tr>
                </tbody>
            </table>

            <div style="font-weight:bold;">Total Commande : {{ totalCommande }}€</div>
            <form [formGroup]="commandeForm" (ngSubmit)="commander()">
                <div class="field">
                    <div class="control">
                        <input class="input is-link" formControlName="client" type="text" placeholder="nom client" value="">
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">Commander</button>
                    </div>
                </div>
            </form>

        </div>
        <div fxLayout="row wrap">
            <div fxFlex.gt-xs="30%" *ngFor="let item of boxes; let index = index">
                <hr>
                <div class="has-text-centered">{{item.nom}}</div>

                <img [src]="'assets/'+item.image+'.webp'"><br />

                <div class="has-text-centered">
                    <button class="button is-link" (click)="plus(index)">+</button>&nbsp;
                    <button class="button is-link" (click)="affModal(index)">Détails</button>&nbsp;
                    <button class="button is-link" (click)="moins(index)">-</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal is-active" *ngIf="showModal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <h1 class="title is-3" style="color:azure;">{{boxe.nom}}</h1>
            <p style="color:yellow;">Nombre de pièces : {{boxe.pieces}}</p>
            <p style="color:yellow;">Composition :</p>
            <ul>
                <li style="color:yellow;" *ngFor="let composition of boxe.composition">{{composition.quantite}}
                    {{composition.nom}}
                </li>
            </ul>
            <p style="color:yellow;">Saveurs :</p>
            <p style="color:yellow;">{{boxe.saveurs}},</p>
            <p style="color:yellow;">Prix : {{boxe.prix}}€</p>
            <img [src]="'assets/'+boxe.image+'.webp'"><br>

            <br>
            <button class="button is-primary" (click)="affModal(0)">Fermer</button>
        </div>
    </div>

</section>